.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.label-sugestao {
    font-size: 18px; /* Tamanho da fonte para o rótulo */
}

h1 {
color: green;
font-family: 'Lucida Handwriting', sans-serif;
font-size: 40px
}

h2 {
font-family: 'Courier New', snas-serif;
font-size: 30px
}

h3 {
font-size: 20px
}

body{
background: #8db600;
background-image: url('fantasy.jpg');
background-attachment: fixed;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

.gif_dragao {
  position: fixed;
  top: 10px;
  left: 225px;
  width: 250px;
}

.gif_dragao img {
  width: 100%;
}

.gif_cogumelo {
  position: fixed;
  bottom: 200px;
  right: 50px;
  width: 100px;
}

.gif_cogumelo img {
  width: 100%;
}

#bandas {
    font-family: 'Courier New', sans-serif;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
}

#melhora {
 font-family: 'Courier New', sans-serif;
    font-size: 19px;
}

#atividades {
 font-family: 'Courier New', sans-serif;
    font-size: 19px;
}

#rating {
 font-family: 'Courier New', sans-serif;
    font-size: 19px;
}

#sugestao{
 font-family: 'Courier New', sans-serif;
    font-size: 22px;
    align-items: center;
}

textarea {
    width: 500px;
    height: 250px;
    }

#feedback{
    background-color: rgba(255, 255, 255, 0.5);
    padding-right: 100px;
    padding-left: 100px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
}


p {
font-family: 'Georgia', sans-serif;
font-size: 20px;
}

.heading_images {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 colunas */
        grid-gap: 0; /* Sem espaçamento entre as imagens */
        justify-content: center; /* Centraliza o grid */
        width: 30%; /* Largura total do grid (ajuste conforme necessário) */
        margin: 0 auto; /* Centraliza horizontalmente o container de imagens */
        }

.lista {
    list-style-type: none;
    padding: 0;
    margin-right: 70px;
}

.botao {
    font-size: 20px;
    background-color: green;
    color: white;
    border: black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s;
}

.botao:hover {
    background-color: #66BB6A;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #228b22;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.footer {
    background-color: rgba(0, 128, 0, 0.4);
    /*background-color: rgba(155, 221, 255, 0.6);*/
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
